<% layout("/layout/boilerplate") %>

<div class="disp-edit-rev">

    <form action="/users/<%= id %>/revivew/<%= revid %>?_method=PATCH" method="post" class=" rating-form">
        <h5>Edit Your Revivew</h3>

        <div class="rating">
            <input type="radio" id="star5" name="rating" value="5">
            <label for="star5"></label>
            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4"></label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3"></label>
            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2"></label>
            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1"></label>
        </div>
        <br>
        <div class="rev-comment form-row">
            <label for="comment">Comment :</label><br>
            <textarea name="comment" id="comment" placeholder="Add A revivew" class="form-control" ><%= result.comment %></textarea>
        </div>
        <button class="btn rev-form-btn" type="submit">Add</button>
    </form>
</div>