<% layout("/layout/boilerplate") %>
<div class="explore-outer">
    <a href="" class="anchor">
        <div class="explore-inner">
            <img src="/hospitalimg.jpg" alt="">
            <b>Nearest Hospitals</b>
            <p>Reach out to the hospitals nearest and best nearest  to you & book their appointments </p>
        </div>
    </a>
    <a href="/medical/check" class="anchor">
        <div class="explore-inner">
            <img src="/medical1-removebg-preview.png" alt="">
            <b>Nearest Medicals</b>
            <p>Reach out to the medicals nearest and best   to you & order your medicines  </p>
        </div>
    </a>
    <a href="" class="anchor">
        <div class="explore-inner">
            <img src="https://static.vecteezy.com/system/resources/previews/041/761/154/non_2x/medical-vehicle-ambulance-car-or-emergency-service-illustration-for-pick-up-patient-the-injured-in-an-accident-in-flat-cartoon-background-vector.jpg" alt="">
            <b>Ambulance & Emergency Survices</b>
            <p>Reach out to the Ambulances and Emergency Survices As Soon As Possible</p>
        </div>
    </a>
    <a href="" class="anchor">
        <div class="explore-inner">
            <img src="/clenicimage.jpg" alt="">
            <b>Reports & Check Up clenics</b>
            <p>Reach out to the checkup clenics nearst you and book its appointments </p>
        </div>
    </a>
</div>