<% layout("/layout/boilerplate") %>
<%- include("../includs/flash.ejs") %>


<div class="apppoinments">
    <h4>How It Works</h4>
<br>
Booking your next <b>doctor’s</b> appointment has never been easier! With our user-friendly platform, you can quickly find and schedule appointments with top healthcare professionals in your area. Simply enter your location and preferred appointment time, and browse through a list of available doctors with detailed profiles and patient reviews. Once you’ve selected the right doctor for you, choose an appointment slot that fits your schedule, and confirm your booking with just a few clicks. You’ll receive an instant confirmation of your appointment along with reminders as your appointment date approaches. Need to reschedule or cancel? No problem—manage your appointments directly through the platform anytime, anywhere. We make healthcare accessible and convenient so you can focus on what matters most—your health.
<br><br><br>
<h5>Process :</h5>
<br>
<ul>
    <li><strong>Step 1 : </strong> Find Email Of your Doctor If they Are Using this platform</li>
    <li><strong>Step 2 : </strong> Now Click On the Book Appointment  </li>
    <li><strong>Step 3 : </strong> Fill The Form With The Correct and Accurate Details </li>
    <li><strong>Step 4 : </strong> Now The Appointment ticket will be generated Take A screenshot of it </li>
    <li><strong>Step 5 : </strong> wait till the apporoval of doctor </li>
</ul>

</div>
