<footer >
    <div class="social">
        <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/_health.india?igsh=MTg0dWo0cjMwMHMycA=="><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/roshan-adhav-325a8331a"> <i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="prive-terms">
        <a href="/terms">terms&nbsp;  </a>
        &amp; 
        <a href="/privecy">&nbsp;privacy</a>
    </div>
    <div class="copy">
        <b>&COPY; Health India private limited</b>
        <!-- <b>&COPY; Leval sabke niklenge</b> -->
    </div>
</footer>